.lobby-emojis {
    .header {
        background: $eggplant;
        border-radius: 128px;
        padding: 15px 25px;
        height: 128px;
        margin: 75px auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        .content {
            display: block;
            position: relative;
            
            .hellolover {
                text-transform: lowercase;
                font-family: Lora, sans-serif;
                position: absolute;
                top: -36px;
                font-size: 24px;
                left: 0;
                right: 0;
                text-align: center;
                font-weight: bold;
            }

            .emoji {
                background: rgba(255, 255, 255, 0.75);
                border-radius: 100%;
                position: absolute;
                width: 128px;
                height: 128px;
                font-size: 72px;
                padding: 14px;
                top: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);


                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .quote {
                float: right;
                font-size: 11px;
                padding: 12px 0 0 148px;
                text-shadow: $text-shadow-1;
            }
        }
    }

    h4 {
        width: 200px;
        margin: auto;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-family: Lora, sans-serif;
        text-shadow: $text-shadow-default;
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none;
            -ms-user-select: none; 
                user-select: none;
    }

    .all-user-emojis {
        padding: 30px 0;

        .user-emoji {
            &.left {
                &:hover, &:focus, &:active {
                    background: $deep-sea-green-light;
                    transform: skewX(-10deg);
                }
            }
        
            &.right {
                &:hover, &:focus, &:active {
                    background: $deep-sea-green-light;
                    transform: skewX(10deg);
                }
            }
        }
        
        .content {
            .circle {
                background: $deep-sea-green-light;
                transform: scale(1.2);
            }
        }
    }


    .line-bg {
        width: 60%;
        height: 100%;
        position: fixed;
        top: 50px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 30px;
        z-index: -1;
    }
}