.blackdrop-modal {
    background: rgba(9, 92, 75, 0.98);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.modal {
    width: 300px;
    background: rgb(9, 92, 75);
    transition: 1.1s ease-out;
    box-shadow: 0 0 2rem 20px rgba(0, 0, 0, 0.2);
    filter: blur(0);
    opacity: 1;
    visibility: visible;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 8px;
  
 
    &.off {
        opacity: 0;
        visibility: hidden;
        filter: blur(8px);
        transform: scale(0.33);
        box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
    }
  
    @supports (offset-rotation: 0deg) {
        offset-rotation: 0deg;
        offset-path: path("M 250,100 S -300,500 -700,-200");
        .modal.off {
        offset-distance: 100%;
        }
    }
    @media (prefers-reduced-motion) {
        .modal {
        offset-path: none;
        }
    }
    .content {
        padding: 1rem;
    }
    .header {
        padding: 1rem;
        border-bottom: 1px solid $deep-sea-green;
        display: block;
        height: 64px;

        h2 {
            float: left;
            padding: 3px 0;
        }

        button {
            float: right;
            border: 0;
            background: $deep-sea-green-light;
            color: $white;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            font-size: 0.8rem;
            line-height: 1;
            cursor: pointer;
        }
    }
    
    #centered-toggle-button {
        position: absolute;
    }

}