.pick-emojis {

    h2 {
        font-size: 22px;
        margin: 75px auto 5px auto;
        text-shadow: $text-shadow-default;
        font-family: 'Lora', serif;
        text-transform: lowercase;
        font-weight: bold;
    }

    p {
        font-size: 14px;
        margin: 0 auto 50px auto;
    }

    .pick-emoji {
        &.picked-left {
            left: -90%;
            transition: $transition-pick-out;
    
            .content {
                .circle {
                    transform:  rotate(-360deg);
                    font-size: 48px;
                    transition: font-size 2s, transform 2s;
                }
            }
        }
        
        &.picked-right {
            right: -90%;
            transition: $transition-pick-out;
    
            .content {
                .circle {
                    transform:  rotate(360deg);
                    font-size: 48px;
                    transition: font-size 2s, transform 2s;
                }
            }
        }
    }
}